*{
	text-align:center; 
	align-content: center; 
	background-color: black;
}
h1{
	color: white;
}
.pixi{
	min-height: 95vh;
	min-width: 95vw;
	background: url(0.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
  	transition: ease-in 5s;
}